
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
eclipse-workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3988866523.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/865741978.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
eclipse-workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
eclipse-workspace/.metadata/version.ini
eclipse-workspace/.metadata/.log
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
eclipse-workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3988866523.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/865741978.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
